.feynman__link{
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color:  #2f80ed;
  margin: 0px;
  position: absolute;
  top: 50%;
  right: 48px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.feynman__link:hover {
  opacity: 0.5;
}

.feynman__link::after{
  content: " \2192";
}
