.khan__book-link{
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color:  #2f80ed;
  opacity: 1;
}

.khan__book-link:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.khan__book-link::after{
  content: " \2192";
}
